@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: hsl(0, 0%, 8%);
  --text: #e75480;
}

$border-size: 0.6em;

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(0, 0%, 90%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%);
  }
}

@mixin circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  border: $border-size solid var(--text);
  padding: 0.8em;
  height: fit-content;
  animation: loading 8s linear infinite;
  // border-bottom: $border-size solid var(--background);
  border-bottom: none;
}

body {
  background-color: var(--background);
  color: var(--text);
  // background-image: url("/images/urbanswirl-ice-cream.jpeg");
  background-image: url("https://static.wixstatic.com/media/52b53d_be803c789b5f441ba7b2fd09c7d23918~mv2.jpg/v1/fit/w_878,h_692,q_90/52b53d_be803c789b5f441ba7b2fd09c7d23918~mv2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position: center;
  height: 100vh;
}

.nav-bar {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  letter-spacing: 2px;

  .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-left: auto;

    li {
      transition: transform 200ms ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }

    #contact {
      border: 1px solid var(--text);
      padding: 0.2em 0.4em;
      border-radius: 10px;
      transition: background-color 200ms ease-in, color 200ms ease-in;

      &:hover {
        background-color: var(--text);
        color: var(--background);
      }
    }

    a {
      color: var(--text);
      text-decoration: none;
    }
  }
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text);
    text-transform: uppercase;
  }

  .loader {
    @include circle();
    font-size: 5px;

    .inner {
      @include circle;
    }
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;

  .hero-title {
    font-size: 10rem;
    font-family: "Playfair Display", sans-serif;
  }

  .desc {
    font-weight: 300;
    letter-spacing: 2px;
  }
}
